@font-face {
    font-family: "gowunBatang";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/gowunBatang/gowunBatang-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/gowunBatang/gowunBatang-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/gowunBatang/gowunBatang-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/gowunBatang/gowunBatang-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/gowunBatang/gowunBatang-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "gowunBatang";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/gowunBatang/gowunBatang-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/gowunBatang/gowunBatang-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/gowunBatang/gowunBatang-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/gowunBatang/gowunBatang-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/gowunBatang/gowunBatang-Bold.ttf") format("truetype");
    font-display: swap;
}
.gowunBatang {
    font-family: "gowunBatang";
}
.gowunBatang400 {
    font-family: "gowunBatang";
    font-weight: 400;
}
.gowunBatang700 {
    font-family: "gowunBatang";
    font-weight: 700;
}